// colors
/// colors blue
$firstBlue: hsl(208, 23%, 22%);
$secondBlue: hsl(209, 26%, 17%);
$thirdBlue: hsl(200, 15%, 8%);

/// colors
$firstGray: hsl(0, 0%, 52%);
$thidGray: rgba(245, 245, 245, 0.5);
$secondGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// typography
$home: 14px;
$detail: 16px;

// fonts
$font-regular: 300;
$font-medium: 600;
$font-bold: 800;
$font-family: 'Nunito Sans', sans-serif;